/src/backend/target/
/src/backend/out/
/src/backend/!.mvn/wrapper/maven-wrapper.jar
/src/backend/!**/src/main/**/target/
/src/backend/!**/src/test/**/target/

### STS ###
/src/backend/.apt_generated
/src/backend/.classpath
/src/backend/.factorypath
/src/backend/.project
/src/backend/.settings
/src/backend/.springBeans
/src/backend/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/src/backend/nbproject/private/
/src/backend/nbbuild/
/src/backend/dist/
/src/backend/nbdist/
/src/backend/.nb-gradle/
/src/backend/build/
/src/backend/!**/src/main/**/build/
/src/backend/!**/src/test/**/build/

### VS Code ###
/src/backend/.vscode/

/src/frontend/erasmus/.angular/
/src/frontend/erasmus/node_modules/
/src/frontend/erasmus/.vscode/
